<div class="nested-fields" data-new-record="<%= form.object.new_record? ? 'true' : 'false' %>">
  <fieldset class="flex items-center gap-6 mb-6 p-2 border rounded-md" data-nested-form-item=true>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :availability, value: "dedicated" %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, class: form_field_classes(form.object, :name) %>
    </div>

    <div>
      <%= form.label :strategy %>
      <%= form.text_field :strategy, class: form_field_classes(form.object, :strategy) %>
    </div>

    <div>
      <%= form.label :icon_url %>
      <%= form.text_field :icon_url, class: form_field_classes(form.object, :icon_url) %>
    </div>

    <div>
      <%= form.label "Client ID" %>
      <%= form.text_field :client_id, class: form_field_classes(form.object, :client_id) %>
    </div>

    <div>
      <%= form.label "Client Secret" %>
      <%= form.text_field :client_secret, class: form_field_classes(form.object, :client_secret) %>
    </div>

    <div>
      <label class="label"></label>
      <%= link_to "X", "#", class: "btn btn-error", data: { action: "click->nested-form#removeNestedForm" } %>
      <%= form.hidden_field :_destroy %>
    </div>

  </fieldset>
</div>
